In [1]:
import numpy as np
import pandas as pd
import scipy.stats as sts
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('socialmobility.csv')
data

          father           son  count
0           farm          farm    703
1           farm     unskilled   1478
2           farm       skilled   1430
3           farm  professional   1109
4      unskilled          farm     58
5      unskilled     unskilled   1756
6      unskilled       skilled   1630
7      unskilled  professional   1568
8        skilled          farm     63
9        skilled     unskilled   1453
10       skilled       skilled   2068
11       skilled  professional   2483
12  professional          farm     61
13  professional     unskilled    749
14  professional       skilled   1183
15  professional  professional   3315

In [6]:
prior_alpha = [1,1,1,1]
def posterior_dist(prior,samples):
    param = [p+sam for p, sam in zip(prior, samples)]
    return sts.dirichlet(param)

In [12]:
unskilled_f_post = posterior_dist(prior_alpha, np.array(data['count'][[4,5,6,7]]))
unskilled_f_samples = unskilled_f_post.rvs(size = 10000)
print("The 95% CI is from",np.quantile(unskilled_f_samples[:, 2],0.025),"to", np.quantile(unskilled_f_samples[:, 2],0.975))

The 95% CI goes from 0.31221074461275 to 0.3381431716304624

In [14]:
prof_s_post = posterior_dist(prior_alpha, np.array(data['count'][[3,7,11,15]]))
prof_s_samples = prof_s_post.rvs(size = 10000)
print("The 95% CI is from",np.quantile(prof_s_samples[:, 0],0.025),"to", np.quantile(prof_s_samples[:, 0],0.975))

The 95% CI is from 0.12380767407886897 to 0.137972863633357